# Node.js dependencies
node_modules/
package-lock.json

# Environment variables
.env
.env.local

# Logs
npm-debug.log*
logs
*.log

# IDE specific files
.vscode/
.idea/

# Operating System Files
.DS_Store
Thumbs.db